@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Bloggie is a scalable, ASP.NET Core website using the ASP.NET MVC framework. View the <a href="https://github.com/0xJozeth/Bloggie">source code here.</a></p>
</div>

